<div style="background:#f9f9f9;margin:0px;padding:20px;width:100%;" bgcolor="f9f9f9">
  <table cellspacing="0" border="0" cellpadding="0" align="center" width="595" bgcolor="white" style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed">
    <tbody>
      <tr>
        <td style="border:1px solid #dddddd;border-radius:2px;font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:24px 24px">
          <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
            <tbody>
              <tr>
                <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0;text-align:left" align="left">
                    <img src="https://s3.amazonaws.com/fin-assets/logos/myFin_horizontal_transparent_text_with_fin_400w.png" height="80" style="padding:0 0 24px;text-align:left;">
                </td>
              </tr>
            </tbody>
          </table>

          <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
            <tbody>
              <tr>
                <td style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:22px;padding:0">
                  <p style="line-height:1.5;margin:0 0 16px;text-align:left!important" align="left">Hey there,</p>
                  <p style="line-height:1.5;margin:0 0 16px;text-align:left!important" align="left">Thanks for signing up!</p>
                  <p style="line-height:1.5;margin:0 0 16px;text-align:left!important;color:#525252;" align="left"><a href="{{ConfirmEmailLink}}" style="border:none;color:#1251ba;outline:none!important" target="_blank">Please confirm your email</a> and complete your MyFin profile. It takes less than a minute and will help us determine how soon we can put MyFin in your pocket.</p>
                  <p style="line-height:1.5;margin:0 0 0;text-align:left!important" align="left">Fincerely,<br><br>The MyFin Dream Team<br><a href="{{MyFinLink}}" target="_blank">myfin.tech</a></p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table width="100%" align="middle" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
    <tbody>
      <tr>
        <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0">
          <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" bgcolor="transparent" style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed">
            <tbody>
              <tr>
              <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:24px 30px 0;text-align:center" align="center">
              <p style="color:#b7b7b7;font-size:12px;font-weight:300;margin:0 0 0;text-decoration:none">1407 Broadway, New York, NY 10018</p>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody>
  </table>

</div>