<html>

<div style="background:#f9f9f9;margin:0px;padding:20px" bgcolor="f9f9f9">

  <table cellspacing="0" border="0" cellpadding="0" align="center" width="400" bgcolor="white" style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed">
    <tbody><tr>
      <td style="border:1px solid #dddddd;border-radius:2px;font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:24px 16px">



  <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
    <tbody><tr>
      <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0;text-align:left" align="left">

          <img src="https://s3.amazonaws.com/fin-assets/logos/myFin_horizontal_transparent.png" height="32" style="padding:0 0 24px;text-align:left;">

      </td>
    </tr>
  </tbody></table>



        <table width="100%" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
          <tbody><tr>
            <td style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding:0">

              <p style="line-height:1.5;margin:0 0 16px;text-align:left!important" align="left">Hey there,</p>
              <p style="line-height:1.5;margin:0 0 16px;text-align:left!important" align="left">Thanks for signing up for MyFin.</p>
              <p style="line-height:1.5;margin:0 0 16px;text-align:left!important;color:#525252;" align="left"><a href="{{ConfirmEmailLink}}" style="border:none;color:#1251ba;outline:none!important" target="_blank">Please confirm your email</a> and fill out your MyFin profile. It only takes a second and helps us turn you into a personal finance master.</p>
              <p style="line-height:1.5;margin:0 0 0;text-align:left!important" align="left">Cheers,<br><br>Team MyFin<br><a href="{{MyFinLink}}" target="_blank">myfin.tech</a></p>

            </td>
          </tr>
        </tbody></table>

      </td>
    </tr>
  </tbody></table>


  <table width="100%" align="middle" style="border-collapse:separate;border-spacing:0;table-layout:fixed">
    <tbody><tr>
      <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:0">
        <table cellspacing="0" border="0" cellpadding="0" align="center" width="600" bgcolor="transparent" style="border-collapse:separate;border-spacing:0;font-family:Helvetica,Arial,sans-serif;letter-spacing:0;table-layout:fixed">
          <tbody><tr>
            <td style="font-family:Helvetica,Arial,sans-serif;font-size:16px;padding:24px 30px 0;text-align:center" align="center">

  <p style="color:#b7b7b7;font-size:12px;font-weight:300;margin:0 0 0;text-decoration:none">1407 Broadway, New York, NY 10018</p>







            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody></table>

<img src="https://ci6.googleusercontent.com/proxy/-FQhIYMZPsTM7nxEwKIML2iymH6cakawFCt6lqbXp-jxSt__QE32p5w4_qenky_RCAw3PUje0J68_eQ1VNol5qXPOvshf0z1cS7Gu3yrdhaW1aAT9QVVCKNu2FXIrzM8pfklmI0zJ03P9gg=s0-d-e1-ft#https://via.intercom-mail.com/o?h=dc6aba59c9de735d4c4b5ec0a1a35dda7a32bca7-4820803991" width="1" height="1" style="display:block" alt="intercom" class="CToWUd"><div class="yj6qo"></div><div class="adL">
</div></div>
</html>
